main {
  padding-block: 3.5rem;

  flex-direction: column;

  gap: 5rem;

  width: 100%;
}

#logout {
  position: fixed;
  top: 0;
  left: 0;

  font-size: 1.5rem;
  margin: 1rem;
  color: var(--highlight);

  cursor: pointer;

  transition: all 100ms;
}

#logout:hover {
  filter: brightness(1.2);
  transform: scale(1.1) rotateZ(5deg);
}

.new-post {
  background-color: var(--sub);
  padding: 1.5rem 3rem;
  border-radius: 20px;
  margin-inline: var(--side-gap);

  animation: slide-in 0.7s ease-out;
}

.new-post h1 {
  color: var(--main);
}

.new-post button {
  background-color: var(--highlight);

  transition: all 300ms;
}

.new-post button.disabled {
  background-color: var(--sub);
  color: var(--highlight);
  filter: brightness(0.8);
  cursor: default;
}

@media (max-width: 768px) {
  .new-post {
    /* padding: 0; */
    margin: 0;
    border-radius: 0;
  }
}

.posts {
  flex-direction: column;
  margin-inline: var(--side-gap);

  --post-gap: 3rem;
  gap: var(--post-gap);
}

.posts > *:not(:first-child):before {
  content: '';
  width: 40%;
  border-top: 3px solid var(--sub);
  margin-bottom: var(--post-gap);
}

.posts > *:not(:first-child):nth-child(odd):before {
  content: '';
  width: 80%;
  align-self: flex-end;
  border-top: 3px solid var(--sub);
  margin-bottom: var(--post-gap);
}

.posts > * {
  animation: slide-in 0.7s ease-out var(--animation-delay) backwards;
}
