.App {
  width: 100%;
  min-height: 100vh;
  position: relative;

  align-items: center;
  justify-content: center;

  color: var(--second);

  overflow-x: hidden;
  overflow-y: auto;

  --side-gap: 15%;
}

.App::before {
  content: '';
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background: linear-gradient(
    0deg,
    rgba(58, 65, 111, 1) 0%,
    rgb(28, 34, 66) 100%
  );
}

/* GENERAL */

h1 {
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--highlight);
}

h1::before {
  content: '> ';
}

h2 {
  font-size: 1.1rem;
}

/* MODALS */

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 0;

  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(1px);
}

.modal.inactive {
  display: none;
}

.modal > * {
  position: fixed;
  z-index: 100;

  top: 50%;
  left: 50%;
  translate: -50% -50%;

  background-color: var(--sub);

  border-radius: 20px;
  padding: 1rem 2rem;

  flex-direction: column;
  gap: 1rem;
}

/* FORMS */

form {
  flex-direction: column;
  gap: 2rem;
}

.entry {
  flex-direction: column;
  gap: 0.5rem;
}

label {
  cursor: pointer;
  font-weight: 700;
}

input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;

  border-radius: 20px;
  padding: 0.5rem 1rem;

  color: var(--highlight);
  cursor: pointer;
}

input,
textarea {
  border: 4px solid var(--sub);
  background: none;
  backdrop-filter: brightness(0.8);
  resize: vertical;

  font-weight: 500;
}

button {
  background-color: var(--sub);
  border: none;

  color: var(--main);
  font-weight: 700;
  width: max-content;
  min-width: 10rem;
  align-self: center;
}
