* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

div,
span,
form {
  display: flex;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main: #2A2F4F;
  --second: #917FB3;
  --sub: #E5BEEC;
  --highlight: #FDE2F3;
}